@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700&subset=latin');


html * {
  font-family: 'Lato', sans-serif;
}

body {
  background: #FFB74D;
}

.container {
	margin-top: 80px;
	margin-left: 5px;
	margin-right: 5px;
  margin-bottom: 100px;
}

#landing {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#landing img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  background-size: cover;
}

.landing_text {
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
}

#venmo {
	text-align: center;
	width: 100%;
	position: absolute;
	top: 35%;
	left: -0.5%;
}

.betContainerButtons {
  float: left;
}

.betButtons {
  margin-top: 10px;
}

.betContainer {
  margin-top: 30px;
}

.Fl-l {
  float: left;
}

.Fl-r {
  float: right;
}

.Mx-10 {
  margin-left: 10px;
}

.Ta-c {
  text-align: center
}

.betCard {
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}





